<%= render partial: 'shared/header' %>

<%= render layout: 'layouts/content' do %>
  <div class="flex items-start justify-between mb-12">
    <h1 class="text-3xl sm:text-5xl flex items-center">
      Warenkorb
    </h1>

    <div data-controller="cart-clear">
      <button data-action="click->cart-clear#clear">Leeren</button>
    </div>
  </div>

  <turbo-frame id="cart-items" src="<%= cart_products_path %>?ids=281110143,113629430">
    Lade Warenkorb...
  </turbo-frame>
<% end %>