<turbo-frame id="cart-items">
  <% @products.each do |product| %>
    <%= render partial: 'cart/product', locals: { product: product } %>
  <% end %>

  <div class="mt-12">
    <h1 class="text-2xl mb-2">Anfrage</h1>
    <p class="text-lg sm:text-xl text-gray-600 mb-4">
      Du hast Interesse an diesen Produkten?
    </p>
    <input type="text" placeholder="Dein Name" class="w-full h-12 mb-3">
    <input type="email" placeholder="Deine E-Mail-Adresse" class="w-full h-12 mb-3">
    <input type="tel" placeholder="Deine Telefonnummer" class="w-full h-12 mb-3">
    <input type="text" placeholder="Preis- oder Tauschvorschlag" class="w-full h-12 mb-3">
    <textarea placeholder="Anfrage" class="h-32"></textarea>
    <button class="mt-3">Anfrage senden</button>
  </div>
</turbo-frame>