<%= render partial: 'shared/messages' %>
<% image ||= "header5.webp" %>
<% logo ||= "emma-herbst-logo.png" %>
<% slogan ||= "Stabile Werte. Keine Kompromisse." %>
<div
  class="relative w-full h-[450px] sm:h-[500px] bg-cover bg-center overflow-hidden"
  style="background-image: url('<%= asset_path(image) %>');"
>
  <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center">
    <%= image_tag logo, class: "w-[310px] sm:w-[400px] mx-auto invert mb-12" %>
    <p class="text-3xl sm:text-5xl text-white text-center">
      <%= slogan %>
    </p>
  </div>
</div>