<div>
<% if Rails.env.production? %>
  <div class="bg-blue-500 text-white text-center p-3">
    <p>
      <strong>Demo:</strong> Alle Daten werden regelmäßig gelöscht. Alle Angaben unter Vorbehalt.
    </p>
  </div>
<% end %>
<% if alert = flash[:alert] %>
  <div>
    <%= render partial: 'shared/alert', locals: { notice: alert } %>
  </div>
<% end %>

<% if notice = flash[:notice] %>
  <div>
    <%= render partial: 'shared/notice', locals: { notice: notice } %>
  </div>
<% end %>
</div>