<div>
<% if Rails.env.production? %>
  <div class="bg-blue-500 text-white p-6">
    <div class="flex flex-col items-center container mx-auto max-w-screen-lg">
      <p class="lg:columns-2">
        <strong>Achtung:</strong> Alle Daten dienen zu Testzwecken und werden regelmäßig gelöscht. Alle Angaben sind unter Vorbehalt. Aktuell arbeiten wir mehr an der Idee, als an dieser Seite. Wir wollen diese Idee aber schon mit Menschen teilen und parallel an einer angemessenen IT-Infrastruktur und einer guten, respektvollen
        Benutzererfahrung arbeiten. Cookies gibt es hier übrigens nur auf Anfrage und aus Zutaten vom Bio-Hof.
      </p>
    </div>
  </div>
<% end %>
<% if alert = flash[:alert] %>
  <div>
    <%= render partial: 'shared/alert', locals: { notice: alert } %>
  </div>
<% end %>

<% if notice = flash[:notice] %>
  <div>
    <%= render partial: 'shared/notice', locals: { notice: notice } %>
  </div>
<% end %>
</div>