<%= render partial: 'shared/header' %>

<div class="bg-white">
  <div class="max-w-screen-lg mx-auto px-3 sm:px-4 pb-12 pt-24">
    <h1 class="text-3xl sm:text-5xl mb-2 sm:mb-4">
      Impressum
    </h1>
    <p class="text-xl sm:text-3xl text-gray-600">
      Vorläufige Informationen gemäß § 5 TMG
    </p>
  </div>

  <div class="max-w-screen-lg mx-auto px-3 sm:px-4 pb-12 pt-12">
    <div class="prose-lg">
      <p>
        <strong class="font-semibold">Inhaltlich verantwortlich:</strong><br>
        Markus Kottländer<br>
        Gertrudenstraße 23a<br>
        49074 Osnabrück<br>
        <br>
        Telefon: 0176 70 86 46 27<br>
        E-Mail: kontakt@markus-kottlaender.de
      </p>
    </div>
  </div>
</div>