<div>
  <h1 class="text-3xl font-semibold mb-3 mt-10">
    Fresh Creations from Our Community
  </h1>
  <p class="mb-10 text-gray-600 text-lg">
    A marketplace for handcrafted and sustainable products, designed to make selling simple and shopping meaningful.
  </p>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @products.each do |product| %>
      <%= render partial: 'products/card', locals: { product: product } %>
    <% end %>
  </div>
</div>
