<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <%= product.body %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= time_tag product.updated_at, "data-local" => "time", "data-format" => "%B %d, %Y" %>
  </p>
</div>
