<div class="h-screen w-full flex flex-col bg-gray-100">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Products" %>

  <h1>Products</h1>
  <%= link_to "New product", new_product_path %>

  <div id="products" class="flex-1 snap-y snap-mandatory overflow-y-auto">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
</div>