<%= render partial: 'shared/header' %>

<%= render layout: 'layouts/content' do %>
  <% content_for :title, "New product" %>

  <h1 class="text-3xl font-semibold mb-6">
    Neues Produkt
  </h1>

  <%= render "form", product: @product %>
<% end %>