<div class="container mx-auto px-3 sm:px-4 pb-12 pt-24">
  <% content_for :title, "New product" %>

  <h1 class="text-3xl font-semibold mb-6">
    Neues Produkt
  </h1>

  <%= render "form", product: @product %>
</div>