<div>
  <h1 class="text-3xl font-semibold mb-3 mt-10">
    Find Creators And Communities Near You
  </h1>
  <p class="mb-10 text-gray-600 text-lg">
    On the map below, you can find creators and communities near you. Click on the markers to learn more about them and connect with them.
  </p>

  <div id="map" class="w-full aspect-video rounded-xl shadow-lg z-40"></div>
</div>
